<div class="left text-secondary col-2 pl-4 ">
		<p class="panel-heading">Profile</p>
						<p class="names">
							<strong><%= current_user.username %></strong><br />
							<small><%= current_user.fullname %></small>
						</p>
                <div class="followings d-flex">
				<div class="level-item">
					<div>
						<p class="heading">Following</p>
						<p class="title is-6">123</p>
					</div>
				</div>
					<div class="level-item">
					<div>
						<p class="heading">Followers</p>
						<p class="title is-6">465K</p>
					</div>
				</div>
                </div>
</div>