<div class="left text-secondary text-center px-2 pt-3">
		 <p class="text-light text-sm logo">Africa Digest Zone</p>
		  <strong class="text-gray pr-3"><%= link_to 'Homepage', root_path, class: "text-light"%></strong><br />
		  <br>
	      <strong class="text-gray pr-3"><%= link_to 'Profile', current_user, class: "text-light"%></strong><br />
</div>