<div class= " row d-flex">
<div class="left text-secondary col-2 pl-4 ">
		<p class="panel-heading">Profile</p>
						<p class="names">
							<strong><%= current_user.username %></strong><br />
							<small><%= current_user.fullname %></small>
						</p>
                <div class="followings d-flex">
				<div class="level-item">
					<div>
						<p class="heading">Following</p>
						<p class="title is-6">123</p>
					</div>
				</div>
					<div class="level-item">
					<div>
						<p class="heading">Followers</p>
						<p class="title is-6">465K</p>
					</div>
				</div>
                </div>
</div>
<div class="top_nav text-light col-10 ">
<div class="d-flex justify-content-between pt-3">
   <div class="logo">
    <p>African Digest</p>
	</div>
   <div class="names d-flex">
	  <strong class="text-gray pr-3"><%= current_user.username %></strong><br />
	  <strong class="text-gray pr-5"><%= link_to 'Log out' %></strong>
	</div>
	</div>
</div>
</div>