<div class="top_nav">
   <p class="names d-flex justify-content-end pt-4">
	  <strong ><%= link_to current_user.fullname, current_user, class: "text-light pr-3" %></strong><br />
	  <strong ><%= link_to 'Log out', users_log_out_path, class: "text-light pr-4", method: :delete %></strong>
	</p>
</div>