<div class=" mx-auto w-50 pt-5 mt-5 col-12">
<div class="logo text-primary">
  <p class="d-flex justify-content-center"> Welcome to Africa Digest Zone</p>
 </div>
 <div>
 <div class="welcome">
<%=  image_tag("africa.jpg", :alt => "profile_image", class: "w-100 h-60") %>
</div>
<div class="text-center pt-5">
<%= link_to 'Register',new_user_path, class: "btn btn-primary font-weight-bold"%>
<%= link_to 'Sign in',users_sign_in_path ,class: "btn btn-primary font-weight-bold" %>
</div>
</div>
</div>