      <p class="pt-2 font-weight-bold text-secondary ">Who to follow</p>
            <%@users.each do |user|%>
            <% unless current_user==user%>
               <div class="d-flex justify-content-center">
               <div class="profile-follow">
                <%= avatar_for(user)%>
                </div>
               <div class="col-6">
                 <strong><%=link_to user.username, user_path(user)%></strong>
                  <br>
                 <small><%= user.fullname %></small>
                 </div>
                 <div class="col-6">
                 <%= follow_button(user) %>
                 </div>
               </div>
                <hr>
              <%end%>
              <%end%>