<li>
<div class="column">
    <nav class="panel">
       <p class="panel-heading">Who to follow</p>
    <div class="panel-block">
       <article class="media">
        <div class="media-content">
            <div class="content">
            <%@users.each do |user|%>
            <% unless current_user==user%>
               <p>
                 <strong><%=link_to user.username, user_path(user)%></strong>
                 <small><%= user.fullname %></small>
                 <%= follow(@user) %>
               </p>
              <%end%>
              <%end%>
            </div>
        </div>
    </article>
    </div>
    </nav>
    </div>
    </li>