<li>
<div class="column">
    <nav class="panel">
       <p class="panel-heading">Who to follow</p>
    <div class="panel-block">
       <article class="media">
        <div class="media-content">
            <div class="content">
            <%@users.each do |user|%>
               <p>
                 <strong><%= user.username %></strong>
                 <small><%= user.fullname %></small>
               </p>
              <%end%>
            </div>
        </div>
    </article>
    </div>
    </nav>
    </div>
    </li>