<div class="fill_form mt-4">
<div class="tweet_header text-dark d-flex">
   <%=link_to 'Tweets', root_path, class: "text-dark pr-3 pb-3 text-decoration-none border-bottom-2" %>
</div>
<%=render 'form', tweet: @tweet%>
</div>