<div class=" mx-auto w-50 pt-5 mt-5 col-12">
<div class="logo text-primary">
  <p class="d-flex justify-content-center">Africa Facts Zone</p>
 </div>
<h1 class="text-primary">Sign In</h1>

 <%= form_with model: @user, method: "put" do |form|%>
      <%= form.text_field :username, class: 'form-control', placeholder: "Enter your username"%>
      <br>
      <br>
      <%= form.submit "Log in", class: " btn btn-primary"%>
    <% end %>
    <p>Don't have an account? </p>
<%= link_to 'Sign up',new_user_path %>
</div>