<div class="section">
<div class="container">

<h1>Sign Up</h1>

<%= form_with model: @user do |form| %>
    <%= form.label :username, "Name:" %>
    <br/>
    <%= form.text_field :username, placeholder: "Enter your Name"%>
    <br />
    <br/>
    <%= form.submit "Submit", class: "button-dark"%>
<% end %>
</div>
</div>