/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.left {
  background-color: #213346;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.top_nav {
  background-color: #50a1e0;
  height: 10vh;
}

.logo {
  font-family: 'Redressed', cursive;
  font-weight: 600;
  font-size: 1.5rem;
}

img {
  height: 30vh;
}

.welcome img {
  height: 50vh;
}

.profile-users img {
  width: 70px;
  height: 70px;
}

.profile-follow img {
  width: 40px;
  height: 40px;
}

.follow,
.profile {
  background-color: #f5f6f8;
}